<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">

    <style>
        .navbar-position {
            position: -webkit-sticky;
            position: sticky;
        }

    </style>
</th:block>


<!-- index.html 고유 스크립트 추가 -->
<!--<th:block layout:fragment="script">-->
<!--    <script th:src="@{/js/header.js}"></script>-->
<!--</th:block>-->

<div th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark navbar-position">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="https://e7.pngegg.com/pngimages/861/787/png-clipart-emoji-shopping-cart-shopping-bags-trolleys-emoji-angle-vehicle.png"
                     alt="" width="30" height="24" class="d-inline-block align-text-top">
                쇼핑몰</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a class="nav-link"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/admin/item/new' ? 'active': ''}"
                           href="/admin/item/new">상품등록</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <!--                        수정 필요!-->
                        <a class="nav-link" href="/admin/items"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/admin/items' || #httpServletRequest.getContextPath()   == '/admin' ? 'active': ''}">상품
                            관리</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/cart"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/cart' ? 'active': ''}">장바구니</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/order"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/order' ? 'active': ''}">구매이력</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="/member/login"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/member/login' ? 'active': ''}">로그인</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/member/logout">로그아웃</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" th:action="@{/}" method="get">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

                    </form>
                    <!--                    <form class="form-inline">-->
                    <!--                        <div class="container">-->
                    <!--                            <div class="search-box">-->
                    <!--                                <input type="text" />-->
                    <!--                                <span></span>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </form>-->
                </form>
            </div>
        </div>
    </nav>
</div>
</html>