@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);

html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}

.navbar{
    background: cornflowerblue;
}
.nav-link{
    width: 100px;
    padding: 15px 25px;
    text-align:center;
}

.all {
    width : 500px;
    position: absolute;
    margin: 0 50px;  /*좌, 우에 margin auto값을 주어 중앙에 오도록 */
    text-align: center;  /*중앙 정렬*/
    float:left;
}

.input_search{
    width: 50%;
    height: 40px;
    border-radius: 30px;
    border: 1.5px solid #EDEDED;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: 80px;
    padding: 10px 0;
    text-align: center;
    background-color: #333333;
    font-family: "Agency FB", serif;
    color: aliceblue;
    margin-top: 50px;
}

.content {
    /*margin: 50px 200px 100px;*/
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}
