html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: 80px;
    padding: 10px 0;
    text-align: center;
    background-color: #333333;
    font-family: "Agency FB", serif;
    color: aliceblue;
    margin-top: 50px;
}

.content {
    /*margin: 50px 200px 100px;*/
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}
